* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 #box1 {
    width: 100%;
    height: 75px;
    background-color: black;
    position: fixed;
    padding: 0 12px;
 }
 #container {
    display: flex;
    justify-content: space-between;
    height: 75px;
 
 }
 h1 {
    color: rgb(189, 184, 184);
    line-height: 75px;
    font-size: 20px;
    padding-left: 10px;
 }
 .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
 }
 ul li a {
    text-decoration: none;
    color: rgb(248, 246, 246);
    font-size: 18px;
    line-height: 75px;
    padding: 12px 15px;
    margin: 0 4px;
 }
 a:hover{
    background-color: #6284FF;
 }
 .box a{
    background-color: #0080ff;
    border: 1px royalblue solid;
 }
 .box a:hover{
    background-color: #f7772d;
 }
 .signup a {
    background-color: #801212;
    border: 1px rgb(235, 237, 243) solid;
 }
 .signup a:hover{
    background-color: #f7772d;
 }
 #mindxer {
    height: 806px;
    width: 100%;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
 }
 h2 {
    font-size: 4rem;
    text-align: center;
    font-weight: 700px;
    padding-top: 320px;
    color: white;
 
 }
 #mindxer > p{
    font-size: 2rem;
    font-weight: 80;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
 }
 
 .projects-topic {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 6rem;
    margin-left: auto;
    border-bottom: 0.2rem solid #fff;
 }
 #projects{
    height: 1200px;
    background-image: linear-gradient( 180deg, #66def3 0%, #ebecf0 50%, #afe9f3 100% );
 }
 h3 {
    font-size: 2.72rem;
    color: white;
    text-align: center;
    display: block;
    
 }
 
 #project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
 }
 
 .project-image {
    background: #000;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
 }
 .project-img {
    width: 100%;
    object-fit: cover;
 }
 .sample {
    padding: 20px 0;
    text-align: center;
 }
 .details {
    color: rgb(255, 255, 255);
    text-decoration: none;
     background-color: rgb(109, 104, 104);
     font-size: 2rem;
     font-weight: 600;
     padding: 8px 16px;
     border: 2px solidrgb(50, 16, 241);
     margin:650px ;
 }
 .details :hover {
    background-color: #e63b3b;
 }
 span:hover{
    background-color: #801212;
 }
 #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: #FFFFFF;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
 }
 .contact-header {
    color: rgb(251, 245, 245);
 }
 h5 {
    font-size: 5rem;
    font-weight: 700;
 }
 .contact-header > p {
    font-size: 1.2rem;
    font-weight: 80;
    font-style: italic;
    text-align: center;
    
 }
 .contact-link  {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    
 }
 .contact-1 {
    font-size: 2rem;
    text-shadow: 1px #f9f6f6;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    color: white;
    text-decoration: none;
 }
 #footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #000;
 }
 #footer > p {
    margin: 20px;
    color: white;
    font-size: 20px;
 }